.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px;
}

.social-icons {
  margin-top: 10px;
}

.icon {
  color: var(--LINKCOLOR);
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s;
}

.icon:hover {
  color: var(--LINKHOVERCOLOR); 
}