/* 
styling header element.
 general style
 */
  .header{
  background-color:rgb(7, 7, 142);
  width:100%;
  top:0;
  box-shadow: 10px 10px 10px var(--SHADOW);
  flex-direction: column;
  border-bottom: 2px solid #007BFF;

  }
  .header nav{
    display:flex;
  }
  .header ul{
    display: flex;
    width: 100%;
    align-items:flex-start;
    justify-content:space-between;
  }
  
  .name-container{
    display:flex;
    justify-content: space-between;
  }

  .name-container p{
    font-size: 24px; 
    font-weight: bold; 
    color: blue;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    margin: 0; 
  }

  nav ul li {
    margin: 0 5px;
  }
  
  nav ul li a {
    color: var(--NAV-MENU);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: var(--LINKHOVERCOLOR);
    border-radius: 5px;
  }

  
/* style of header elements on small and medium device */
@media (max-width:481px)
{
  .name-container p{
    font-size: 1rem;
  }

}

@media (max-width:991px)
 {
  .header nav{
    flex-direction: column;
  }
  .header ul{
    flex-direction:column;
    padding:0 1.5rem 1.5rem;
    height: 80vh;
  }
  /* 
  styling div that contains portifolio logo and menu btn 
*/
  .name-container
  {
    padding: 1.5rem;
  }
  .menu-btn-container{
    width: 50px;
    height: 40px;
    border:1px solid blue;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-btn
  {
    width: 30px;
    background-color: var( --TEXTCOLOR);
    height: 3px;
    position: relative;
  }

  .menu-btn::after,.menu-btn::before
  {
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var( --TEXTCOLOR);
  }

  .menu-btn::after
  {
    top:-8px;
    left: 0;
  }

  .menu-btn::before
  {
    bottom:-8px;
    left: 0;
  }
  
}

/* navigation list style on large device 

   remove menu btn 
   change navigation flex-direction to row

*/

@media (min-width:992px){
  
  .header nav{
    flex-direction: row;
    justify-content: space-around;
  }
  .header ul{
    height:80px;
    width: 70%; 
    align-items: center;
 }

  .menu-btn-container
  {
    display:none;
  }
  nav
  {
  flex-direction:row;
  }
  
  .name-container p{
    align-self: center;
  };

}
