/* project section style */
.project
{
display: flex;
flex-flow:row wrap;
position:relative;
justify-content: center;
}
/* syling card */
.projectCard{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  /* Magic line! */
  gap: 30px;
  max-width: 1600px;
  border:1px solid rgba(0, 0, 0, 0.29);
  border-radius: 10px;
  margin: 20px;

}

.img-desc-container{
  display: flex;
  flex-direction:column;
  align-items: center;
  border-radius: 10px;
}
.img-desc-container img{
  width: 100%;
  border: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.project-details{
  padding-left: 20px;
  padding-bottom: 40px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}
.project .project-title{
  text-align: left;
  text-transform: capitalize;
}
.project .project-details p{
  padding: 10px 0;
}
.project .tech-used{
  text-align: left;
  display: flex;
  justify-content:left;
  text-transform: capitalize;
  padding: 5px 0;
}
.tech-used span{
  margin:0 5px;
  padding: 5px 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  color: black;

}
.demo-and-code-btn{
  display: flex;
  padding: 10px;
}

.recent-repos {
  margin-top: 20px;
  width: 100%;
}



.recent-repos h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--TEXTCOLOR);
}

.recent-repos ul {
  list-style-type: none;
  padding: 0;
}

.recent-repos li {
  margin: 5px 0;
}

.recent-repos a {
  color: var(--LINKCOLOR); 
  text-decoration: none;
}
.recent-repos p{
  color: var(--TEXTCOLOR);
}
.recent-repos a:hover {
  text-decoration: underline;
}
/* media query */



@media (min-width:481px) and (max-width:768px)
{
  .projectCard
  {
    width: 300px;
    height:fit-content;
  }
}

@media (min-width:768px) 
{
  .projectCard{
    width: 350px;
    height:fit-content;
  }

}