
.service{
  display: flex;
  flex-flow:row wrap;
  position:relative;
  justify-content:center;
}

.service-card{
  width: 200px;
  margin:30px;
  display:flex;
  flex-direction:column;
  padding:10px;
  transition:transform 0.3s ease;
  box-shadow:5px 5px 5px #0000ff4e,-5px -5px 5px #0000ff21;
}

.service-card:hover{
  transform: scale(1.05);
}
 .service-card hr
{
  width: 90%;
  align-self:center;
  padding:1px;
  background-color: var(--BORDERCL);
  border: 0;
} 

.service-card h3{
  font-size: 1rem;
  text-align:center;
  width: 80%;
  align-self:center;
  color: var(--CARDHEADERCOLOR);
}

.service-card p {
  font-size: 1em;
  color: var(--TEXTCOLOR);
  line-height: 1.5;
  width: 90%;
  padding:10px;
  align-self:center;

}
@media (min-width:768px)
{
.service-card{
  width: 300px;
  height: 300px;
}
.service-card h3{
  margin: 10px 0;
}
.service-card hr{
  margin: 20px 0;
}
.service-card p{
  margin:5px 0;
}
}
