/* generel styles */

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
:root {
  --BGCOLOR: white;
  --SECTIONHEADERCOLOR: #333;
  --SECTIONHEADERBGCOLOR: #f9f9f9;
  --CARDHEADERCOLOR: #000;
  --LINKCOLOR:#0000ff;
  --LINKHOVERCOLOR:blueviolet;
  --TEXTCOLOR:#666;
  --SECONDARYBGCOLOR:#f9f9f9;
  --SKILLCOLOR:#007BFF;
  --SKILLBG:white;
  --SHADOW:whitesmoke;
  --BTNBG:rgb(18, 95, 95);
  --BTNCOLOR:aliceblue;
  --BORDERCL:black;
}

body {
  background-color: var(--BGCOLOR);
  width: 100%;
}

body.dark {
  --BGCOLOR: #000;
  --SECTIONHEADERCOLOR: #FFD700;
  --SECTIONHEADERBGCOLOR: black;
  --CARDHEADERCOLOR: #fff;
  --LINKCOLOR:blueviolet;
  --LINKHOVERCOLOR:pink;
  --TEXTCOLOR:#f5f5f5;
  --SECONDARYBGCOLOR:black;
  --SKILLBG:white;
  --SKILLCOLOR:blue;
  --SHADOW:black;
  --BTNBG:aliceblue;
  --BTNCOLOR:rgb(18, 95, 95);
  --BORDERCL:WHITE;


  background-color: var(--BGCOLOR);
}

#root {
  /* max-width: 1280px; */
  text-align: center;
  width: 100%;
}
html{
  scroll-behavior: smooth;

}

li{
  list-style-type: none;
}
 a{
  text-decoration:none;
}
a:active{
  color: red;
}
button{
  border: none;
  padding: 5px;
  border-radius:5px;
  background-color: var(--BTNBG);
  color: var(--BTNCOLOR);
}
section{
  position:relative;
  padding: 100px 0;
}

 section .section-title{
  position: absolute;
  width: 100%;
  top:0;
  padding: 10px;
  font-size: 2rem; 
  color: var(--SECTIONHEADERCOLOR);
  text-align: center;
  margin: 20px 0;
  border-bottom: 2px solid #007BFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color:var(--SECTIONHEADERBGCOLOR);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 } 